.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.5)
  ),
    url("https://wallpapercave.com/wp/wp3385209.jpg");
  background-size: cover;
  background-position: center;
}


form{
    background-color: white;
    /* padding: 5px 60px; */
    padding: 1vh 9vh;
    border-radius: 2vh;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
}

h1{
    color: rgba(0,0,0,0.9);
    text-align: center;
}


.vestButton {
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-weight: bold;
}

.vestbut {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.claimButton{
  margin-top: 3vh;
  width: auto;

}


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

#forestPng{ 
  position:absolute;
  /* font-family:'Alfa Slab One', cursive; */
  /* color:#77DD77; */
  /* font-size: 7vh; */
  margin-top: 49.5vh;
  margin-left: 70vh;
  height: 50vh;
  size: 3vh;
  /* background-color:bisque; */
}
#vestPng{ 
  position:absolute;
  /* font-family:'Alfa Slab One', cursive; */
  /* color:#77DD77; */
  /* font-size: 7vh; */
  left: -22vh;
  bottom:-24.5vh;
  /* height: 50vh; */
  /* size: 3vh; */
  height: 50vh;
  /* background-color:bisque; */
}